* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    text-align: center;
    margin-top: 100px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}
.header input {
    padding: 10px 100px;
}
.header .button {
    padding: 10px 100px;
}
.header .button:hover {
    cursor: pointer;
}
.tabs {
    display: flex;
    justify-content: space-between;
}
.tab {
    border: 1px #000 solid;
    padding: 10px 25px;
}

.task-list {
    display: flex;
    flex-direction: column;
}
.task {
    width: 500px;
    background-color: #aaa;
    margin: 15px auto;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-button {
    transition: transform ease-out .2s;
}
.close-button:hover {
    cursor: pointer;
    transform: scale(1.5);
}